
.editUser {
  max-width: 600px !important;
  margin: 16px auto;
  height: 600px;
  overflow: auto;
}

.editUser > .container {
  display: flex;
  flex-direction: row;
} 

.editUser > .actions {
  margin-top: 24px;
} 

.editUser .avatar {
  height: 200px;
}

.editUser .editor {
  width: 300px;
  text-align: center;
  cursor: pointer;
}
.editUser .editor:hover img {
  opacity: .6;
}

.editUser .editor.isLoadingImage {
  pointer-events: none;
  opacity: .4;
}

.editUser .actions {
  margin-bottom: 24px;
}

.editUser .form {
  flex-grow: 1;
}

.editUser .bio .quill {
  height: 400px;
}